extends layout

block content
  h1= title
  p Welcome to #{title}
  p= location.location.coordinates
  div(id="map")




  script(type='text/javascript').

    var map = new ol.Map({
      target: 'map',
      layers: [
        new ol.layer.Tile({
          source: new ol.source.OSM()
        })
      ],
      view: new ol.View({
        center: ol.proj.fromLonLat(!{JSON.stringify(location.location.coordinates)}),
        zoom: 4
      })
    });