body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #319ef7 !important;
}

.container nav a{
  color: #000;
}

.container ul {
  list-style: none;
}

.project {
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 25px;
  background-color: #FFF;
  color: rgb(55, 135, 255);
  list-style: none;
  display: block;
}

.project a {
  text-decoration: none;
  color: #000;
}

.container ul {
  padding-left: 0;
}

#map {
  width: 100%;
  height: 400px;
}

footer li a {
  color: white !important;
}